
@{
    ViewData["Title"] = "Manual - Sudoku";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
<style>
    * {
        padding: 0px;
        margin: 0px;
    }

    .header {
        width: fit-content;
        font-size: 40px;
        position: relative;
        top: 10%;
        left: 37%;
        color: rgb(0, 26, 255);
        border-bottom: 4px solid black;
        font-weight: 700;
        padding-bottom: 10px;
    }

    .main {
        position: relative;
    }

    table {
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
    }

    td {
        padding-bottom: 20px;
        max-width: 1290px;
    }

    .index {
        padding: 30px;
    }

    img {
        position: relative;
        padding: 30px;
    }
</style>
<div class="header">Sudoku Manual</div>
<div class="main">
    <table>
        <tr>
            <td class="index">
                <i class="fa fa-hand-o-right fa-lg black-text" aria-hidden="true"></i>
            </td>
            <td>
                You can use any number from 1 to 9 for any square.
            </td>
        </tr>
        <tr>
            <td class="index">
                <i class="fa fa-hand-o-right fa-lg black-text" aria-hidden="true"></i>
            </td>
            <td>
                Don't repeate any number in same raw and same colume.
            </td>
        </tr>
        <tr>
            <td class="index">
                <i class="fa fa-hand-o-right fa-lg black-text" aria-hidden="true"></i>
            </td>
            <td>
                You get no hint to play this game because this is a game of logic and reasoning.
            </td>
        </tr>
        <tr>
            <td class="index">
                <i class="fa fa-hand-o-right fa-lg black-text" aria-hidden="true"></i>
            </td>
            <td>
                Play this game using process of elimination.
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <p>What do we mean by using “process of elimination” to play Sudoku? Here is an example. In this Sudoku grid (shown below), the far left-hand vertical column (circled in Blue) is missing only a few numbers: 1, 5 and 6.</p><br>

                <p> One way to figure out which numbers can go in each space is to use “process of elimination” by checking to see which other numbers are already included within each square – since there can be no duplication of numbers 1-9 within each square (or row or column).</p><br>

                <img src="~/Images/sudoku_img.jpg" /><br><br>
                <p>
                    How to solve sudoku puzzles?
                    In this case, we can quickly notice that there are already number 1s in the top left and center left squares of the grid (with number 1s circled in red). This means that there is only one space remaining in the far left column where a 1 could possibly go – circled in green. This is how the process of elimination works in Sudoku – you find out which spaces are available, which numbers are missing – and then deduce, based on the position of those numbers within the grid, which numbers fit into each space.
                </p><br>

                <p>Sudoku rules are relatively uncomplicated – but the game is infinitely varied, with millions of possible number combinations and a wide range of levels of difficulty. But it’s all based on the simple principles of using numbers 1-9, filling in the blank spaces based on deductive reasoning, and never repeating any numbers within each square, row or column.</p>
            </td>
        </tr>
    </table>
</div>
@section Scripts{
    <script>
        refreshNavbar();
    </script>
}


